.builder {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    align-items: center;
}

.builder button {
    display: block;
    padding: 5px;
    margin: 0 12px;
    width: 80px;
    background-color: #9c27b0;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
}

.builder div {
    margin: 12px;
}