
.btn {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: white;
    outline: none;
    margin: 10px;
    padding: 10px;
}

.success {
    background: olivedrab;
}

.cancel {
    background: orangered;
}